<div class="mx-2 my-2">
    <h1>Productos de la Empresa</h1>
</div>

<div class="mx-2 my-2">
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#agregar"><i class="bi bi-plus-square-fill"></i> Agregar producto</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre producto</th>
            <th scope="col">Nombre proveedor</th>
            <th scope="col">Stock</th>
            <th scope="col">Acciones</th>
            <th scope="col">Enviar a sucursal</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let productosEmpresa of productosEmpresaList">
            <th scope="row">{{productosEmpresa._id}}</th>
            <td>{{productosEmpresa.nombreProducto}}</td>
            <td>{{productosEmpresa.nombreProveedor}}</td>
            <td>{{productosEmpresa.stock}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#ver" (click)="obtenerProducto(productosEmpresa._id)"><i class="bi bi-eye-fill"></i> Ver</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#editar" (click)="obtenerProducto(productosEmpresa._id)"><i class="bi bi-pencil-square"></i> Editar</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#eliminar" (click)="obtenerProducto(productosEmpresa._id)"><i class="bi bi-trash-fill"></i> Eliminar</button>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#agregarProducto"><i class="bi bi-send-fill"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<!-- AGREGAR -->
<div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar producto a sucusal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- NOMBRE PRODUCTO -->
                    <div class="mb-3">
                        <label for="inputNombree" class="form-label">Nombre del producto</label>
                        <input type="text" class="form-control" id="inputNombree" name="nombreProducto" #nombreProducto='ngModel' [(ngModel)]="productoSucursalModel.nombreProducto">
                    </div>
                    <!-- STOCK EXISTENTE -->
                    <div class="mb-3">
                        <label for="inputExistente" class="form-label">Stock existente</label>
                        <input type="text" class="form-control" id="inputExistente" name="stockExistente" #stockExistente='ngModel' [(ngModel)]="productoSucursalModel.stockExistente">
                    </div>
                    <!-- CANTIDAD VENDIDA -->
                    <div class="mb-3">
                        <label for="inputVendido" class="form-label">Cantidad vendida</label>
                        <input type="number" class="form-control" id="inputVendido" name="cantidadVendida" #cantidadVendida='ngModel' [(ngModel)]="productoSucursalModel.cantidadVendida">
                    </div>
                    <!-- ID SUCURSAL -->
                    <div class="mb-3">
                        <label for="inputIdSucursal" class="form-label">ID de la sucursal</label>
                        <input type="text" class="form-control" id="inputIdSucursal" name="idSucursal" #idSucursal='ngModel' [(ngModel)]="productoSucursalModel.idSucursal">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="crearProductoSucursal()">Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- AGREGAR -->
<div class="modal fade" id="agregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- NOMBRE PRODUCTO -->
                    <div class="mb-3">
                        <label for="inputNombre" class="form-label">Nombre del producto</label>
                        <input type="text" class="form-control" id="inputNombre" name="nombreProducto" #nombreProducto='ngModel' [(ngModel)]="productosEmpresaModel.nombreProducto">
                    </div>
                    <!-- NOMBRE PROVEEDOR -->
                    <div class="mb-3">
                        <label for="inputProveedor" class="form-label">Nombre del proveedor</label>
                        <input type="text" class="form-control" id="inputProveedor" name="nombreProveedor" #nombreProveedor='ngModel' [(ngModel)]="productosEmpresaModel.nombreProveedor">
                    </div>
                    <!-- STOCK -->
                    <div class="mb-3">
                        <label for="inputStock" class="form-label">Cantidad de stock</label>
                        <input type="number" class="form-control" id="inputStock" name="stock" #stock='ngModel' [(ngModel)]="productosEmpresaModel.stock">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="crearProducto()">Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- VER -->
<div class="modal fade" id="ver" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ver producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- ID PRODUCTO -->
                    <div class="mb-3">
                        <label for="inputId" class="form-label">ID del producto</label>
                        <input type="text" class="form-control" id="inputId" name="_id" #_id='ngModel' [(ngModel)]="productosEmpresaIDModel._id" disabled>
                    </div>
                    <!-- NOMBRE PRODUCTO -->
                    <div class="mb-3">
                        <label for="inputNombre" class="form-label">Nombre del producto</label>
                        <input type="text" class="form-control" id="inputNombre" name="nombreProducto" #nombreProducto='ngModel' [(ngModel)]="productosEmpresaIDModel.nombreProducto" disabled>
                    </div>
                    <!-- NOMBRE PROVEEDOR -->
                    <div class="mb-3">
                        <label for="inputProveedor" class="form-label">Nombre del proveedor</label>
                        <input type="text" class="form-control" id="inputProveedor" name="nombreProveedor" #nombreProveedor='ngModel' [(ngModel)]="productosEmpresaIDModel.nombreProveedor" disabled>
                    </div>
                    <!-- STOCK -->
                    <div class="mb-3">
                        <label for="inputStock" class="form-label">Cantidad de stock</label>
                        <input type="number" class="form-control" id="inputStock" name="stock" #stock='ngModel' [(ngModel)]="productosEmpresaIDModel.stock" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- EDITAR -->
<div class="modal fade" id="editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- ID PRODUCTO -->
                    <div class="mb-3">
                        <label for="inputId" class="form-label">ID del producto</label>
                        <input type="text" class="form-control" id="inputId" name="_id" #_id='ngModel' [(ngModel)]="productosEmpresaIDModel._id" disabled>
                    </div>
                    <!-- NOMBRE PRODUCTO -->
                    <div class="mb-3">
                        <label for="inputNombre" class="form-label">Nombre del producto</label>
                        <input type="text" class="form-control" id="inputNombre" name="nombreProducto" #nombreProducto='ngModel' [(ngModel)]="productosEmpresaIDModel.nombreProducto">
                    </div>
                    <!-- NOMBRE PROVEEDOR -->
                    <div class="mb-3">
                        <label for="inputProveedor" class="form-label">Nombre del proveedor</label>
                        <input type="text" class="form-control" id="inputProveedor" name="nombreProveedor" #nombreProveedor='ngModel' [(ngModel)]="productosEmpresaIDModel.nombreProveedor">
                    </div>
                    <!-- STOCK -->
                    <div class="mb-3">
                        <label for="inputStock" class="form-label">Cantidad de stock</label>
                        <input type="number" class="form-control" id="inputStock" name="stock" #stock='ngModel' [(ngModel)]="productosEmpresaIDModel.stock">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="modificarProducto()">Guardar cambios</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- ELIMINAR -->
<div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- ID PRODUCTO -->
                    <div class="mb-3">
                        <label for="inputId" class="form-label">ID del producto</label>
                        <input type="text" class="form-control" id="inputId" name="_id" #_id='ngModel' [(ngModel)]="productosEmpresaIDModel._id" disabled>
                    </div>
                    <!-- NOMBRE PRODUCTO -->
                    <div class="mb-3">
                        <label for="inputNombre" class="form-label">Nombre del producto</label>
                        <input type="text" class="form-control" id="inputNombre" name="nombreProducto" #nombreProducto='ngModel' [(ngModel)]="productosEmpresaIDModel.nombreProducto" disabled>
                    </div>
                    <!-- NOMBRE PROVEEDOR -->
                    <div class="mb-3">
                        <label for="inputProveedor" class="form-label">Nombre del proveedor</label>
                        <input type="text" class="form-control" id="inputProveedor" name="nombreProveedor" #nombreProveedor='ngModel' [(ngModel)]="productosEmpresaIDModel.nombreProveedor" disabled>
                    </div>
                    <!-- STOCK -->
                    <div class="mb-3">
                        <label for="inputStock" class="form-label">Cantidad de stock</label>
                        <input type="number" class="form-control" id="inputStock" name="stock" #stock='ngModel' [(ngModel)]="productosEmpresaIDModel.stock" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#emergente">Eliminar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- EMERGENTE -->
<div class="modal fade" id="emergente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación de eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de eliminar el producto "<strong>{{ productosEmpresaIDModel.nombreProducto }}</strong>"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)='eliminarProducto(productosEmpresaIDModel._id)'>Eliminar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
