<div class="mx-2 my-2">
    <h1>Control de perfil/app</h1>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-dark"><i class="bi bi-eye-fill"></i> Ver</button>
                    <button type="button" class="btn btn-outline-dark"><i class="bi bi-pencil-square"></i> Editar</button>
                    <button type="button" class="btn btn-outline-dark"><i class="bi bi-trash-fill"></i> Eliminar</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>