<!-- LOGO -->
<div class="rounded float-end mx-5 my-5">
    <img src="/assets/logo.png" class="img-thumbnail" width="450" height="450">
</div>

<!-- NUESTRO PRINCIPIOS -->
<div>
    <h1>Nuestros principios</h1>
    <p class="lead">
        La visión de McDonald’s es “ser el lugar y la forma de comer preferidos de sus clientes”, lo que obliga a dirigir esfuerzos y recursos para alcanzar el cien por cien de satisfacción de los consumidores en cada una de sus visitas a los restaurantes. Para
        alcanzar este objetivo se han desarrollado cuatro principios básicos que caracterizan su filosofía empresarial: Calidad, Servicio, Limpieza y Valor o Asequibilidad.
    </p>
</div>

<br>

<!-- NUESTRO VALORES -->
<div>
    <h1>Nuestro valores</h1>
    <p class="lead">
        La responsabilidad social corporativa de McDonald's se fundamenta en unos valores que se manifiestan en cada actividad empresarial, tanto en el trabajo con los proveedores, como en el desarrollo profesional de los empleados o en la forma de contribuir
        a las comunidades donde opera. En McDonald's, compartimos unos valores corporativos, que son aceptados y respetados por todos los empleados.
    </p>
</div>