<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark  ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink='/home'>
            <img src="/assets/logo.png" width="40" height="34" class="d-inline-block align-text-top"> <span class="mx-1"></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <ul class="navbar-nav">
                    <li>
                        <button type="button" class="btn btn-success" routerLink='/login' routerLinkActive='active'>Iniciar sesión</button>
                    </li>
                    <span class="mx-1"></span>
                    <li>
                        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#modalAcercaDe">Acerca de</button>
                    </li>
                </ul>
            </ng-container>
            <ng-template #loggedIn>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li>
                        <button type="button" class="btn btn-outline-light" routerLink='/sucursales' routerLinkActive='active'>Sucursales</button>
                    </li>
                    <span class="mx-1"></span>
                    <li>
                        <button type="button" class="btn btn-outline-light" routerLink='/productosEmpresa' routerLinkActive='active'>Productos Empresa</button>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Perfil</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" style="cursor: pointer;" routerLink="/empresas">Administrar perfil</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" style="cursor: pointer;" (click)="authService.logout()">Cerrar sesión</a></li>
                        </ul>
                    </li>
                    <span class="mx-5"></span>
                </ul>
            </ng-template>
        </div>
    </div>
</nav>

<!-- MODAL ACERCA DE -->
<div class="modal fade" id="modalAcercaDe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Desarrollador</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- NOMBRE -->
                    <div class="mb-3">
                        <label for="inputNombre" class="form-label">NOMBRE</label>
                        <input type="text" class="form-control" id="inputNombre" value="Shandel Noe Ortiz Morales" disabled>
                    </div>
                    <!-- CARNÉ -->
                    <div class="mb-3">
                        <label for="inputCarne" class="form-label">CARNÉ</label>
                        <input type="text" class="form-control" id="inputCarne" value="2019186" disabled>
                    </div>
                    <!-- CURSO -->
                    <div class="mb-3">
                        <label for="inputCurso" class="form-label">CURSO</label>
                        <input type="text" class="form-control" id="inputCurso" value="Práctica Supervisada" disabled>
                    </div>
                    <!-- SECCIÓN -->
                    <div class="mb-3">
                        <label for="inputSeccion" class="form-label">SECCIÓN</label>
                        <input type="text" class="form-control" id="inputSeccion" value="IN6AV" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="mx-2 my-2">
    <router-outlet></router-outlet>
</div>