<div class="mx-2 my-2">
    <h1>Sucursales</h1>
</div>

<div class="mx-2 my-2">
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#agregar"><i class="bi bi-plus-square-fill"></i> Agregar sucursal</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Empresa (ID)</th>
            <th scope="col">Acciones</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let sucursal of sucursalList">
            <th scope="row">{{sucursal._id}}</th>
            <td>{{sucursal.nombreSucursal}}</td>
            <td>{{sucursal.direccionSucursal}}</td>
            <td>{{sucursal.idEmpresa}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#ver" (click)="obtenerSucursal(sucursal._id)"><i class="bi bi-eye-fill"></i> Ver</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modificar" (click)="obtenerSucursal(sucursal._id)"><i class="bi bi-pencil-square"></i> Editar</button>
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#eliminar" (click)="obtenerSucursal(sucursal._id)"><i class="bi bi-trash-fill"></i> Eliminar</button>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-outline-dark" routerLink="/productosSucursal"><i class="bi bi-eye-fill"></i> Ver productos</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- AGREGAR -->
<div class="modal fade" id="agregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar sucursal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- NOMBRE PRODUCTO -->
                    <div class="mb-3">
                        <label for="inputNombre" class="form-label">Nombre de la sucursal</label>
                        <input type="text" class="form-control" id="inputNombre" name="nombreSucursal" #nombreSucursal='ngModel' [(ngModel)]="sucursalModel.nombreSucursal">
                    </div>
                    <!-- NOMBRE PROVEEDOR -->
                    <div class="mb-3">
                        <label for="inputDireccion" class="form-label">Dirección de la sucursal</label>
                        <input type="text" class="form-control" id="inputDireccion" name="direccionSucursal" #direccionSucursal='ngModel' [(ngModel)]="sucursalModel.direccionSucursal">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="crearSucursal()">Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- VER -->
<div class="modal fade" id="ver" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ver sucursal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- ID SUCURSAL -->
                    <div class="mb-3">
                        <label for="inputId" class="form-label">ID de la sucursal</label>
                        <input type="text" class="form-control" id="inputId" name="_id" #_id='ngModel' [(ngModel)]="sucursalIDModel._id" disabled>
                    </div>
                    <!-- NOMBRE SUCURSAL -->
                    <div class="mb-3">
                        <label for="inputNombre" class="form-label">Nombre de la sucursal</label>
                        <input type="text" class="form-control" id="inputNombre" name="nombreSucursal" #nombreSucursal='ngModel' [(ngModel)]="sucursalIDModel.nombreSucursal" disabled>
                    </div>
                    <!-- DIRECCION SUCURSAL -->
                    <div class="mb-3">
                        <label for="inputDireccion" class="form-label">Dirección de la sucursal</label>
                        <input type="text" class="form-control" id="inputDireccion" name="direccionSucursal" #direccionSucursal='ngModel' [(ngModel)]="sucursalIDModel.direccionSucursal" disabled>
                    </div>
                    <!-- ID EMPRESA -->
                    <div class="mb-3">
                        <label for="inputIdEmpresa" class="form-label">Empresa (ID)</label>
                        <input type="text" class="form-control" id="inputIdEmpresa" name="idEmpresa" #idEmpresa='ngModel' [(ngModel)]="sucursalIDModel.idEmpresa" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODIFICAR -->
<div class="modal fade" id="modificar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modificar sucursal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- ID SUCURSAL -->
                    <div class="mb-3">
                        <label for="inputId" class="form-label">ID de la sucursal</label>
                        <input type="text" class="form-control" id="inputId" name="_id" #_id='ngModel' [(ngModel)]="sucursalIDModel._id" disabled>
                    </div>
                    <!-- NOMBRE SUCURSAL -->
                    <div class="mb-3">
                        <label for="inputNombre" class="form-label">Nombre de la sucursal</label>
                        <input type="text" class="form-control" id="inputNombre" name="nombreSucursal" #nombreSucursal='ngModel' [(ngModel)]="sucursalIDModel.nombreSucursal">
                    </div>
                    <!-- DIRECCION SUCURSAL -->
                    <div class="mb-3">
                        <label for="inputDireccion" class="form-label">Dirección de la sucursal</label>
                        <input type="text" class="form-control" id="inputDireccion" name="direccionSucursal" #direccionSucursal='ngModel' [(ngModel)]="sucursalIDModel.direccionSucursal">
                    </div>
                    <!-- ID EMPRESA -->
                    <div class="mb-3">
                        <label for="inputIdEmpresa" class="form-label">Empresa (ID)</label>
                        <input type="text" class="form-control" id="inputIdEmpresa" name="idEmpresa" #idEmpresa='ngModel' [(ngModel)]="sucursalIDModel.idEmpresa" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="modificarSucursal()">Guardar cambios</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- ELIMINAR -->
<div class="modal fade" id="eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar sucursal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <!-- ID SUCURSAL -->
                    <div class="mb-3">
                        <label for="inputId" class="form-label">ID de la sucursal</label>
                        <input type="text" class="form-control" id="inputId" name="_id" #_id='ngModel' [(ngModel)]="sucursalIDModel._id" disabled>
                    </div>
                    <!-- NOMBRE SUCURSAL -->
                    <div class="mb-3">
                        <label for="inputNombre" class="form-label">Nombre de la sucursal</label>
                        <input type="text" class="form-control" id="inputNombre" name="nombreSucursal" #nombreSucursal='ngModel' [(ngModel)]="sucursalIDModel.nombreSucursal" disabled>
                    </div>
                    <!-- DIRECCION SUCURSAL -->
                    <div class="mb-3">
                        <label for="inputDireccion" class="form-label">Dirección de la sucursal</label>
                        <input type="text" class="form-control" id="inputDireccion" name="direccionSucursal" #direccionSucursal='ngModel' [(ngModel)]="sucursalIDModel.direccionSucursal" disabled>
                    </div>
                    <!-- ID EMPRESA -->
                    <div class="mb-3">
                        <label for="inputIdEmpresa" class="form-label">Empresa (ID)</label>
                        <input type="text" class="form-control" id="inputIdEmpresa" name="idEmpresa" #idEmpresa='ngModel' [(ngModel)]="sucursalIDModel.idEmpresa" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#emergente">Eliminar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- EMERGENTE -->
<div class="modal fade" id="emergente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmación de eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Está seguro de eliminar la sucursal "<strong>{{ sucursalIDModel.nombreSucursal }}</strong>"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)='eliminarSucursal(sucursalIDModel._id)'>Eliminar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
